/* Fonts */
@font-face {
    font-family: 'chunk';
    src: url('Fonts/chunkfive-regular-webfont.woff2') format('woff2'),
         url('Fonts/chunkfive-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'chunkprint';
    src: url('Fonts/chunk_five_print-webfont.woff2') format('woff2'),
         url('Fonts/chunk_five_print-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* Main */

:root{
    --red: #fe3e00;
    --yellow: #fbb333;
    --lyellow: #fbe369;
    --dblue: #369186;
    --lblue: #34d5d3;
    --violet: #c15d6a;
    --pink: #f76d4d;
}

*{
    padding: 0;
    margin: 0;
}

.container {
    width: 100vw;
    height: 57vw;
}

hr{
    height: .5vw;
    width: 100vw;
    background-color: black;
}

h1 {
    font-family: "Titan One", sans-serif;
    text-align: center;    
}

h2{
    font-family: "chunk", display;
    text-align: center;
    font-size: 4vw;
    color: var(--lblue);
}

h3{
    font-family: "Pacifico", cursive;
    text-align: center;
    font-size: 5vw;
    padding-top: 4vw;
    color: var(--lyellow);
    letter-spacing: .5vw;
}

p{
    padding-left: 4.5vw;
    font-size: small;
}

.container.one {
    background-image: url("Images/SNA.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color: var(--dblue);
    display: flex;
    flex-direction: column;  
}

.container.one > h1 {
    font-size: 7vw;
    letter-spacing: 1.4vw;
    color: var(--lyellow);
    padding-top: 5vw;
}

.container.two > h1 {
    font-size: 3vw;
    letter-spacing: 1vw;
    color: var(--pink);
    padding-top: 1vw;
}

.flex{
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr 1fr 1fr;
    width: 75vw;
    margin-left: 12.5vw;
    padding: 10vw 0 0;

}

.flexy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vw;
    padding-left: 5vw;
}

#frame{
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    background-color: var(--violet);
    display: flex;
    justify-content: center;
    
}

#frame > img {
    width: 9vw ;
    object-fit: contain;
}

.flexy > h1{
    font-size: 2.5vw;
    letter-spacing: .5vw;
    color: var(--pink);

}

#ass{
    color: var(--red);
    grid-area: 2 / 1 / -1 / -1;
}

#front-page{
    gap: 10px;

}

.container.two.grid {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 3fr;
    gap: 5px;
    width: 80vw;
    margin-left: 10vw;

}

.container.two.grid > img{
    width: 15vw;
    object-fit:contain;
}

.container.two.grid > h1{
    grid-area: 1 / 1 / 2 / -1;
    font-size: 7vw;
    color: var(--dblue);
    padding-top: 5vw;
}

.container.two.grid > h2 {
    grid-column: span 1;
    font-size: 3vw;
    color: #000;
}

#footer{
    background-image: url("Images/SNA.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 18vw;
    display: flex;
    flex-direction: column;    
}
